<!DOCTYPE html>
<html lang="ja"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:fragment="title">マイページ</title>
</head>
<body>


<!-- メインコンテンツ -->
<div layout:fragment="content">
    <main>
        <div class="container mt-5">

            <div th:if="${loginMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
                <span th:text="${loginMessage}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="container mt-3" th:if="${message}">
                <div th:if="${message}" class="alert alert-success alert-dismissible fade show" th:text="${message}"></div>
                <button  type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4">
                <!-- お知らせ -->
                <div class="col">
                    <div aria-labelledby="newsHeader" class="card mb-4" role="region">
                        <div class="card-header bg-success text-white" id="newsHeader">
                            <i class="bi bi-megaphone-fill me-2"></i>お知らせ
                        </div>
                        <div class="card-body">
                            <p>管理者からのお知らせがここに表示されます。</p>
                            <div class="text-end">
                                <a class="btn btn-success" href="news.html"
                                   title="管理者からのお知らせを見る">お知らせを見る</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 予約履歴 -->
                <div class="col">
                    <div aria-labelledby="historyHeader" class="card mb-4" role="region">
                        <div class="card-header bg-primary text-white" id="historyHeader">
                            <i class="bi bi-clock-history me-2"></i>予約履歴
                        </div>
                        <div class="card-body">
                            <p>ここにPCの予約履歴が表示されます。</p>
                            <div class="text-end">
                                <a class="btn btn-primary" th:href="@{/mypage/history}" title="予約履歴を見る">予約履歴を見る</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- パスワード変更 -->
                <div class="col">
                    <div aria-labelledby="passwordHeader" class="card mb-4" role="region">
                        <div class="card-header bg-warning text-white" id="passwordHeader">
                            <i class="bi bi-pencil-square me-2"></i>パスワード変更
                        </div>
                        <div class="card-body">
                            <p>ここでパスワードを変更できます。</p>
                            <div class="text-end">
                                <a class="btn btn-warning" th:href="@{/mypage/passwordChange}"
                                   title="パスワードを変更する">パスワードを変更する</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

</body>
</html>