<!DOCTYPE html>
<html lang="ja"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:fragment="title">ログイン</title>
</head>
<body>

<div layout:fragment="content">
    <div class="container mt-5">
        <div class="row justify-content-center">
                        <h3 class="card-title text-center mb-4">ログイン</h3>
                        <form method="post" th:action="@{/login}">
                            <div th:if="${loginError}" class="text-danger mb-3">
                                メールアドレスまたはパスワードが間違っています。
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="email">メールアドレス</label>
                                <input type="email" class="form-control form-control-lg py-3"
                                       id="email" name="email" placeholder="メールアドレスを入力"
                                       aria-describedby="emailHelp" th:value="${loginEmail}"
                                       style="font-size: 1.2rem; height: 25px;" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">パスワード</label>
                                <input type="password" class="form-control form-control-lg py-3"
                                       id="password" name="password" placeholder="パスワードを入力"
                                       style="font-size: 1.2rem; height: 25px;"
                                        required >
                            </div>
                            <div class="form-check mt-2 mb-2">
                                <input class="form-check-input" id="showPassword" type="checkbox">
                                <label class="form-check-label" for="showPassword">パスワードを表示</label>
                                <script th:src="@{/js/passwd.js}"></script>
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-primary" type="submit">ログイン</button>
                            </div>
                        </form>
                    </div>
        </div>
    </div>
</div>
</body>