<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcms.dataaccess.mapper.ReservationMapper">

    <select id="findByDate" parameterType="string" resultType="com.pcms.dto.reservationList.ReservationListBuilder">
        SELECT
            pc.pc_id,
            pc.name as pc_name,
            pc.status,
            reservation.date,
            user.name,
            period.period_number,
            period.start_time,
            period.end_time
        FROM pc
            LEFT JOIN reservation ON pc.pc_id = reservation.pc_id
                AND reservation.date = #{date}
                AND reservation.status &lt;&gt; 'cancelled'
            LEFT JOIN period ON reservation.period_number = period.period_number
            LEFT JOIN user ON reservation.user_id = user.user_id
        WHERE
            pc.status &lt;&gt;'take_out'
            AND
            pc.status &lt;&gt; 'maintenance'
        ORDER BY pc.pc_id, period_number
    </select>

    <select id="findByIdAndDate" resultType="com.pcms.model.Reservation" parameterType="map">
        SELECT
            *
        FROM reservation
                 INNER JOIN pc ON reservation.pc_id = pc.pc_id
        WHERE
            reservation.pc_id = #{pc_id}
          AND
            date = #{date}
          AND
            pc.status &lt;&gt; 'take_out'
    </select>

    <insert id="reserve" parameterType="java.util.List">
        INSERT INTO reservation (
        user_id,
        pc_id,
        date,
        period_number,
        reason
        )
        VALUES
        <foreach collection="reservations" item="reservation" separator=",">
            (
            #{reservation.user_id},
            #{reservation.pc_id},
            #{reservation.date},
            #{reservation.period_number},
            #{reservation.reason}
            )
        </foreach>
    </insert>

    <select id="findUserHistory" resultType="com.pcms.dto.mypage.history.ReservationHistoryDto">
        SELECT
            p.name AS pcName,
            r.date AS reservationDate,
            ret.returned_time AS returnTime,
            CASE
                WHEN r.status = 'pending_approval' THEN '承認待ち'
                WHEN r.status = 'approval' AND ret.returned_time IS NULL THEN '貸出中'
                WHEN r.status = 'approval' AND ret.returned_time IS NOT NULL THEN '返却済み'
                WHEN r.status = 'cancelled' THEN 'キャンセル済み'
            END AS status
        FROM
            reservation AS r
        JOIN pcmsdb.pc p ON p.pc_id = r.pc_id
        LEFT JOIN returned AS ret ON r.reservation_id = ret.reservation_id
        WHERE
            r.user_id = #{user_id}
        ORDER BY r.created_at DESC
        LIMIT 10
    </select>
    
</mapper>