<!DOCTYPE html>
<html lang="ja"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:fragment="title">システムエラー</title>
</head>
<body>
    <div layout:fragment="content">
        <main class="container">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">エラーが発生しました</h4>
                <p th:text="${error}">エラーメッセージ</p>
                <hr>
                <p class="mb-0">
                    <a class="btn btn-secondary" th:href="@{/}">トップページに戻る</a>
                </p>
            </div>
        </main>
    </div>
</body>
</html>